include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.rst

recursive-include tests *
recursive-include * *.m
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude * *.mat

recursive-include docs *.rst conf.py Makefile make.bat *.jpg *.png *.gif
