include LICENSE
include *.md
recursive-include . *.cfg
recursive-include . *.yaml
include .editorconfig
include *.sh
include *.txt
include Makefile
include tox.ini

recursive-include * *.m
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude * *.mat
recursive-exclude examples *.mat
recursive-exclude examples *.png
include examples *.ipynb
recursive-exclude examples .ipynb_checkpoints *

recursive-include docs *.rst conf.py Makefile make.bat *.jpg *.png *.gif
